html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);

}

.cont{
    height: 374px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.cont-2, .cont-3{
    background-color: white;
}


.cont-1{
    position:relative;
    padding-bottom: 30px;
    padding: 0;
}

.cont-2{
    text-align: center;
    width: 100%;
}

.cont-3{
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0 25px;
}

.img-1{
    background-image: url("/images/bg-pattern-card.svg");
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}

img{
    border: 5px solid white;
}

.img-1{
    height: 141px;
    width: 350px;
}

.cont-2{
    text-align: center;
    width: 100%;
}


.img-2{
    border-radius: 50%;
    position:absolute;
    top:90px;
    left:32%;
}


h2{
    padding-top: 50px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    margin:10px;
}

span{
    font-weight: 400;
    color: hsl(0, 0%, 59%)
}

.cont-stats{
    flex-grow: 2;
    text-align: center;
}

.p-2, .p-3{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.p-1{
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
}

.p-2{
    font-weight: 700;
}

.p-3{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
}
